@font-face {
  font-family: Rabbit;
  src: url(/fonts/WhiteRabbitReloaded.ttf);
}

@keyframes aceHide {
  0% {
    width: calc(100vw - 2 * 100vh / 3 * 1.778);
  }
  100% {
    width: calc(3 * 100px + 36px);
    margin-left: -304px;
  }
}
